#scss is not needed as it is used to generate css
src/scss/

#these files are what converts scss to css
package.json
package-lock.json
node_modules/

#unsure if these files are required so not deleting (likely created in experimenting with laravel)
mix-manifest.json
webpack.mix.js
